html, body {
	font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
}


/* ----- INDEX ----- */

#firstDiv {
	background-color: #f7f7f7 ; 
	width: 100%; 
	height: 70px
}

/* INDEX ABOUT */
#about {
	margin-top: 170px;
}

#about-row {
	margin-top: 120px;
	margin-bottom: 200px;
}


.card {
	background-color: #eee;
	margin-top: 50px; 
}

.card-title { 
	text-align: center;
}

.card-text {
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

#water-text {
	margin-bottom: 30px;
}
.card-img-top {
	margin-top: 20px;
	align-items: center;
	width: 300px;
	height: 250px;
}
a.btn.btn-primary {
	margin-left: 700px;
}

/* INDEX ABOUT */

/* IDIOMA */
#idioma {
	cursor: pointer;
}
/* IDIOMA */

/* NAV */
nav {
	text-transform: uppercase;
}
/* NAV */

/* FOOTER */
footer {
	background-color: #eee; 
}
#rrss, #container-paginas {
    width: 20%
}

#map {
	width: 60%;
}

#footer-container {
	padding-bottom: 50px;
}
#all-footer {
	margin-top: 70px;
}

i {
	margin-top: 100px;
	margin-left: 15px;
	color: #333;
}

#copyright {
	margin-top: 20px;
}

#paginas-relacionadas {
	list-style: none;
}

#paginas-relacionadas li a {
	color: #333;
}

#container-paginas {
	width: 20%;
}

#text-paginas {
	margin-left: 30px;
}

/* FOOTER */

/* ---- INDEX ----*/
/* ---- CONTACT ----*/
#contact {
	text-align: center;
	background-color: #333;
	color: white;
}

#email, #name {
	width: 300px;
}

#contact-form {
	margin-top: 50px;
}

textarea,input {
	color: #333;
}
form {
	margin-bottom: 120px;
	padding-bottom: 50px;
}